<%-@courses.each do |course| %>
 
<div class="courses_feed">

  <div id="courses_feed_single">
    <% @courses.each do |course| %>
    <div id="col_left">
    test
    </div><!-- end col_left -->

    <div id="col_right">
    <h1><%=link_to course.name, course %></h1>
    <%=course.course_type %>
    <%=course.price %>
    <%=truncate(course.description)%>
    <%=course.city %>
    </div><!-- end col_right -->


  <div><!-- end courses_feed_single -->
  <div id="clear"></div>
  
  <% end %>

</div><!-- end courses_feed -->
